body {
    margin:0;
    padding:0;
    font-family: monospace;
    background: linear-gradient(to right, antiquewhite, dodgerblue);
} 

.base-container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    height: 265vh;
}

.base-header{
    width: 100%;
    height: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center;
    box-shadow: 2px 2px 4px #888888;
    border:2px solid gray;
}

.base-content{
    flex-basis: 79%;
}

.base-footer{
    flex-basis: 1%;
    background-color: #212121;
    color: #888888;
}
@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
 
.menu-items {
    flex-basis: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
    align-content: center;
    align-items: center;
    justify-content: space-around;

    background-size: auto;
    background-repeat: no-repeat;
    background-position: center, center;
}

.menu-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32%;
    height: 32%;
    margin-bottom: 1rem;
    border-radius: 50px;
    box-shadow:  5px 5px 10px gray, 
             -5px -5px 10px lightgray;
    background-size: cover;
    background-repeat: no-repeat;
}

.menu-btn a:hover{
    text-decoration: none;
    color: lightgreen;
}

.menu-text{
    color:antiquewhite;
    font-weight: bolder;
    font-size: 250%;
    text-shadow:3px 3px 5px gray;
    opacity: .8;
}

.section-heading{
    color: blue;
    font-size: 3rem;
    font-weight: bold;
    text-shadow:3px 3px 5px #888888;
    opacity: .9;
}

.regular-text, .contact h3{
    color: white;
    font-size: 2rem;
    text-shadow:3px 3px 5px #888888;
    opacity: .8;
}

.contact h5 {
    color: #777777;
    font-size: 200%;
    text-shadow:3px 3px 5px #888888;
}

.contact img{
    width: 300px;
    height: 262px;
    border:1px solid gray;
}
.about, .service, .contact{
    padding: 1rem;
}

.accordion button{
    color: blue;
    font-size: 2rem;
    font-weight: bold;
    text-shadow:3px 3px 5px #888888;
    opacity: .9;
}

.accordion h3{
    color: green;
    font-size: 1.3rem;
    text-shadow:3px 3px 5px #888888;
    opacity: .8;
    text-align: right;
}

.accordion h4{
    color: green;
    font-size: 2rem;
    text-shadow:3px 3px 5px #888888;
    opacity: .8;
}
.accordion p, .accordion li{
    color: antiquewhite;
    font-size: 2rem;
    text-shadow:3px 3px 5px #888888;
}

.services li{
    list-style-type: none;
    margin-bottom: 1rem;
}
.services h4{
    margin-left: 5rem;
    color: white;
    font-size: 2rem;
    text-shadow:1px 1px 2px #888888;
    opacity: .7;
    text-align: center;
}

.services h4:hover{
    color: lightgreen;
}

.fare{
    height: 1000px;
}

.fare button{
    color:lightgreen;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px #666666;
    opacity: .8;
}

.fare button:hover{
    text-decoration: none;
    color: crimson;
}
.fare th{
    color: lightblue;
    font-size: 1.3rem;
    text-shadow:1px 1px 2px #888888;
    opacity: .8;
}
.fare td{
    color: lightblue;
    font-size: 1.2rem;
   
}

.about-content table, .card{
    background-color: transparent;
}

.booking input,  
.booking select, 
.booking textarea{
    /* color: blue; */
    font-size: 1.2rem;
    background-color: lightgreen;
    opacity: .6;
}


.bg-gradient-overlay {
    position: relative;
    z-index: 1; }
    .bg-gradient-overlay::after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      background: dodgerblue;
      background: -webkit-linear-gradient(to right, #666666, dodgerblue);
      background: linear-gradient(to right, #666666, dodgerblue);
      opacity: 0.75; }





@media screen and (max-width: 575px){
     
     
    

    

}

/********** HOME **********/
.home-container{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
/********** PRODUCTS **********/
.products-container{
    height:100%;
    padding: .5rem;
    display: flex;
    justify-content: center;
}

.category-sidebar{
    height: 100%;
    border: 1px solid  #888888;
    flex-basis: 10%;
    padding: .3rem;
    display:flex;
    flex-direction: column;
    padding: 1%;
    font-size: medium;
}

.category-sidebar a{
    text-decoration: none;
    color: white;
}

.category-header a{
    color: lightblue;
}

.category-sidebar a:hover{
    color: crimson;
}

.products-card-container{
    height: 100%;
    border: 1px solid  #888888;
    flex-basis: 90%;
    padding: .3rem;
    margin-left: .5rem; 
}

.products-list{
    height: 100%; 
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4rem;
}

.products-card{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: .2rem;
    box-shadow: 1px 1px 2px #888888;
    width: 5rem;
    height: 15rem;
}

.products-card img{
    width: 99%;
    height: 70%;
    border: 1px solid #888888;
}

.products-card h6,p{
    color: #212121;
    font-size: 75%;
}
