.about-us-thumbnail{
    display:flex;
    justify-content: center;
    align-items: center;
}

.services-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.services-cards img{
    border-radius: 50px;
}

.services-cards .card {
    margin: 5px;
    background-color:transparent;
    border: none;
}

.services-area h2, .services-area h5{
    color: white;
} 

.services-cards p{
    color: antiquewhite;
}

/*----------- BANNER/NAV AREA ----------*/
.banner-img {
    background-image: url("/static/img/site/banner.jpg");
    min-height:200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Position navbar container inside image */
  .rtc-nav {
    float: right;
    margin-top: 20px;
    width: auto;
  }
  
  /* The navbar */
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    font-size: 30px;
  }
  
  .navbar a:hover {
    color: #121212;
  }
/*---------- BANNER/NAV AREA END ----------*/

.base-container{
    display: flex;
    flex-direction: column;
    width: 100%;
} 

.base-footer{
    background-color: #555555;
    color: antiquewhite;
    text-shadow: 1px 1px 2px black;
}
 
.contact img{
    width: 300px;
    height: 262px;
    border:1px solid gray;
}
 
.accordion button{
    font-size: 100%;
    color: darkcyan;
    font-weight: bold;
    text-shadow:1px 1px 2px black;
    opacity: .9;
    padding:0;
}

.accordion .card{
    background: transparent;
}
 
.fare th{
    font-size: 210%;
    color: green;
    font-weight: bold;
    text-shadow:1px 1px 2px black;
    opacity: .8;
}
.fare td{
    font-size: 250%;
    color: antiquewhite;
    text-shadow:1px 1px 2px black;
    opacity: .8;
}

.booking{
   border: .5px solid antiquewhite;
   background: linear-gradient(to right, antiquewhite, rgb(77, 42, 42));
   width: 100%;
   padding-left: 2rem;
   padding-right: 2rem;
}

.bg-gradient-overlay {
    position: relative;
    z-index: 1; }
    .bg-gradient-overlay::after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      background: dodgerblue;
      background: -webkit-linear-gradient(to right, #666666, dodgerblue);
      background: linear-gradient(to right, #666666, dodgerblue);
      opacity: 0.75; }





@media screen and (max-width: 575px){
}

/********** PRODUCTS **********/
.products-container{
    height:100%;
    padding: .5rem;
    display: flex;
    justify-content: center;
}

.category-sidebar{
    height: 100%;
    border: 1px solid  #888888;
    flex-basis: 10%;
    padding: .3rem;
    display:flex;
    flex-direction: column;
    padding: 1%;
    font-size: medium;
}

.category-sidebar a{
    text-decoration: none;
    color: white;
}

.category-header a{
    color: lightblue;
}

.category-sidebar a:hover{
    color: crimson;
}

.products-card-container{
    height: 100%;
    border: 1px solid  #888888;
    flex-basis: 90%;
    padding: .3rem;
    margin-left: .5rem; 
}

.products-list{
    height: 100%; 
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4rem;
}

.products-card{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: .2rem;
    box-shadow: 1px 1px 2px #888888;
    width: 5rem;
    height: 15rem;
}

.products-card img{
    width: 99%;
    height: 70%;
    border: 1px solid #888888;
}

.products-card h6,p{
    color: #212121;
    font-size: 75%;
}
