{% extends 'base.html' %}
{% load static %}
{% block breadcrumb_bg %} {% static 'img/site/about_banner.jpg' %} {% endblock %} 
{% block breadcrumb    %} About Us {% endblock %}
{% block page_name     %} About Us {% endblock %}

{% block content %}

  <!-- ****** About Us Area Start ******* -->
  <section class="RTC-about-us-area section-padding-100-0">
    <div class="container">
      <div class="row align-items-center">
        <!-- About Us Thumbnail -->
        <div class="col-12 col-md-6">
          <div class="about-us-thumbnail mb-50">
            <center>
              <img src="{% static 'img/site/logo300.png' %}" alt="">
            </center>
          </div>
        </div>
        <!-- About Content -->
        <div class="col-12 col-md-6">
          <div class="about-us-content mb-50">
            <!-- Section Heading -->
            <div class="section-heading">
              <h2>About Us</h2>
              <div class="line"></div>
            </div>
            <p>ROMBLON TRANSPORT COOPERATIVE (RTC)</span> was formed in compliance with the  
              PUV  modernization   program. The existing  local transport operators  
              and van owners joined  force  to  form  the  cooperative  complying 
              with the standards set by law.</p>
              <p>
                <span>RTC</span> organized the association of Tourist, UV Express, Jeepney  and 
                Rental transport  services in the Province of Romblon to provide 
                quality transport services.
              </p>
              <p>
                <span>RTC</span> aims to address transport problem and support the development and 
                effort of the government to modernize transport system and ultimately 
                bring about economic development and progress.
              </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** About Us Area End ****** -->

  <div class="container">
    <div class="RTC-border clearfix"></div>
  </div>

  <!-- Cool Facts Area Start -->
  <section class="RTC-cta-area">
    <div class="container">
      <div class="row">
        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_genius"></i>
            <h2><span class="counter">35</span></h2>
            <h5>No. of Vans</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_heart_alt"></i>
            <h2><span class="counter">39</span></h2>
            <h5>Founding Members</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_book_alt"></i>
            <h2><span class="counter">35</span></h2>
            <h5>Owner/Operator</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_id"></i>
            <h2><span class="counter">4</span></h2>
            <h5>Driver</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Cool Facts Area End -->

  <!-- ***** LOB Area Start ***** -->
  <section class="testimonials-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url({% static 'img/site/services.jpg' %});">
    <div class="container">
      <div class="row">
         <!-- Section Heading -->
         <div class="section-heading white">
          <h2>Our Services</h2>
          <div class="line"></div>
        </div>

        <div class="col-12">
          <!-- LOB Slides -->
          <div class="testimonials-slides owl-carousel">

            <!-- Single LOB Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static '/img/site/business1.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>Sales of Motor Vehicle Parts</h5>
                <h6>“In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit mattis mollis maximus.”</h6>
              </div>
            </div>
            <!-- Single LOB Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static '/img/site/business1.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>Sales of Motor Vehicle Accessories</h5>
                <h6>“In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit mattis mollis maximus.”</h6>
              </div>
            </div>
             <!-- Single LOB Slide -->
             <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static '/img/site/business1.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>AUV Operation</h5>
                <h6>“In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit mattis mollis maximus.”</h6>
              </div>
            </div>
             <!-- Single LOB Slide -->
             <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static '/img/site/business1.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>Jeepney Operation</h5>
                <h6>“In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit mattis mollis maximus.”</h6>
              </div>
            </div>
             <!-- Single LOB Slide -->
             <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static '/img/site/business1.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>Tour Van Rental</h5>
                <h6>“In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit mattis mollis maximus.”</h6>
              </div>
            </div> 
             <!-- Single LOB Slide -->
             <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static '/img/site/business1.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>Car Insurance</h5>
                <h6>“In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit mattis mollis maximus.”</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** LOB Area End ***** -->

  <!-- Terminal Area Start  -->
  <!-- <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Our Terminals</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'img/site/rtc.jpg' %}" alt="">
            <div class="dentist-content">
              <div class="dentist-info bg-gradient-overlay">
                <h5>San Agustin</h5>
                <p>J Moreno Blvd</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'img/site/rtc.jpg' %}" alt="">
            <div class="dentist-content">
              <div class="dentist-info bg-gradient-overlay">
                <h5>San Agustin</h5>
                <p>PUB & PUJ Terminal</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'img/site/rtc.jpg' %}" alt="">
            <div class="dentist-content">
              <div class="dentist-info bg-gradient-overlay">
                <h5>Odiongan</h5>
                <p>Public Market</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- Terminal Area End -->

  <div class="about-GenInfo">
    <div class="accordion" id="accordionGenInfo">
      <div class="card">
        <div class="card-header" id="headingGenInfo">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left title-text" type="button" data-toggle="collapse" data-target="#collapseGenInfo" aria-expanded="true" aria-controls="collapseGenInfo">
              General Information
            </button>
          </h2>
        </div>
    
        <div id="collapseGenInfo" class="collapse show" aria-labelledby="headingGenInfo" data-parent="#accordionGenInfo">
          <div class="card-body regular-text">
            <table>
                <tr><td>Type of Cooperative </td><td>: Transport</td></tr>
                <tr><td>Area of Operation   </td><td>: Provincial</td></tr>
                <tr><td>Bond of Membership  </td><td>: Occupational</td></tr>
                <tr><td>Members             </td><td>: Workers, Employees, Operators & Drivers</td></tr>
                <tr><td>Founding Members    </td><td>: 39</td></tr>
                <tr><td>Address             </td><td>: Poblacion, San Agustin, Romblon</td></tr>
                <tr><td>CDA Reg. No.        </td><td>: 9520-1018000000046928</td></tr>
                <tr><td>BIR TIN             </td><td>: romblontransport@yahoo.com</td></tr>
                <tr><td>Facebook            </td><td>: Romblon Transport Cooperative - RTC</td></tr>
                <tr><td>Website             </td><td>: https://rtc.heroku.com</td></tr>
            </table>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <div class="about-purposes">
    <div class="accordion" id="accordionPurposes">
      <div class="card">
        <div class="card-header" id="headingPurposes">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left title-text" type="button" data-toggle="collapse" data-target="#collapsePurposes" aria-expanded="true" aria-controls="collapsePurposes">
              Purposes
            </button>
          </h2>
        </div>
    
        <div id="collapsePurposes" class="collapse show" aria-labelledby="headingPurposes" data-parent="#accordionPurposes">
          <div class="card-body regular-text">
            <h6>This Cooperative is organized to engage in:</h6>
            <ol start="1">
              <li>Provide transport services to members and commuting public;</li>
              <li>Engage in businesses such as:
                <ol type="a">
                  <li>Sales of spare parts and supplies;</li>
                  <li>Sales of Vehicle/Driver’s insurance policies;</li>
                  <li>Auto Repair and Maintenance Shop;</li>
                  <li>Vehicle Rental Services; and </li>
                  <li>Micro Lending;</li>
                </ol>
              </li>
              <li>Promote economic and social status of members;</li>
              <li>Coordinate and facilitate activities of cooperatives;</li>
              <li>Advocate for the cause of cooperative movements;</li>
              <li>Ensure viability of cooperatives through utilization of new technologies; and</li>
              <li>Encourage, promote self-help or self-employment for economic growth and poverty alleviation.</li>
            </ol>
          </div>
        </div>
      </div>
    </div>  
  </div>

    <div class="about-goals">
      <div class="accordion" id="accordionGoals">
        <div class="card">
          <div class="card-header" id="headingGoals">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left title-text" type="button" data-toggle="collapse" data-target="#collapseGoals" aria-expanded="true" aria-controls="collapseGoals">
                Goals
              </button>
            </h2>
          </div>
      
          <div id="collapseGoals" class="collapse show" aria-labelledby="headingGoals" data-parent="#accordionGoals">
            <div class="card-body regular-text">
              <h6>To help improve the quality life of its members and contribute to inclusive growth, enterprise development and employment. It shall aim:</h6>
              <ol start="1">
                <li>To attain increased income, savings, investments, productivity, and equitable distribution of surplus;</li>
                <li>To provide optimum social and economic benefits to its members;</li>
                <li>To teach members of doing things in a Cooperative manner;</li>
                <li>To propagate Cooperative practices;</li>
                <li>To empower through provision of opportunities to the poor and less privileged groups;</li>
                <li>To actively support the government, other Cooperatives and people-oriented organization;</li>
                <li>To develop a dynamic savings mobilization and capital build-up schemes;</li>
                <li>To adopt membership expansion scheme;</li>
                <li>To ensure transparency, accountability and promote the interests of the members;</li>
                <li>To adopt plans to foster the welfare of members, their families and the community;</li>
                <li>To advance the competitiveness and innovativeness of the industry;</li>
                <li>To coordinate with other Cooperatives on learning, trade and information exchanges;</li>
                <li>To advocate legal framework and policies for the development of transport Cooperatives; and</li>
                <li>To be the voice of the poor in resisting growth-centered development aggression.</li>
              </ol>
            </div>
          </div>
        </div>
      </div> 
  </div>

  {% endblock %}