{% extends 'base.html' %}
{% load static %}

{% block content %}
  
  <!-- ***** About Area Start ***** -->
  <section class="about-area section-padding-50-0">
    <div class="container">
      <div class="row align-items-center">
        <!-- About Us Thumbnail -->
        <div class="col-12 col-md-6">
          <div class="about-us-thumbnail mb-50">
            <img src="{% static 'img/site/about.jpg' %}" alt="">
          </div>
        </div>
        <!-- About Content -->
        <div class="col-12 col-md-6">
          <div class="about-us-content mb-50">
          <!-- Section Heading -->
          <div class="section-heading">
            <h2>About Us</h2>
            <div class="line"></div>
          </div>
          <p class="text-justify"> 
            <strong>ROMBLON TRANSPORT COOPERATIVE (RTC)</strong>
            was formed in compliance with the PUV modernization program. 
            The existing local transport operators and van owners joined
            force to form the cooperative, complying with the standards 
            set by law.
          </p>
          <p class="text-justify"> 
            <strong>RTC</strong> organized the association of Tourist, 
            UV Express, Jeepney and Rental transport services in the 
            Province of Romblon to provide quality transport services. 
          </p>
          <p class="text-justify"> 
            <strong>RTC</strong> aims to address transport problem and
            support the development and effort of the government to 
            modernize the transport system and ultimately bring about 
            economic development and progress.
          </p>
        </div> 
      </div>
    </div>  
  </section>
  <!-- ***** About Area End ***** -->

  <!-- ***** GenInfo Area Start ***** -->
  <div class="gen-info">
    <div class="accordion" id="accordionGenInfo">
        <div class="card">
          <div class="card-header" id="headingGenInfo">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-center" type="button" data-toggle="collapse" data-target="#collapseGenInfo" aria-expanded="true" aria-controls="collapseGenInfo">
                General Information 
              </button>
            </h2>
          </div>
      
          <div id="collapseGenInfo" class="collapse" aria-labelledby="headingGenInfo" data-parent="#accordionGenInfo">
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-sm-4 text-right">
                  <p><strong>Cooperative Type</strong></p>
                </div>
                <div class="col-12 col-sm-8">
                  <p>Transport</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-4 text-right">
                  <p><strong>Area of Operation</strong></p>
                </div>
                <div class="col-12 col-sm-8">
                  <p>Provincial</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-4 text-right">
                  <p><strong>Bond of Membership</strong></p>
                </div>
                <div class="col-12 col-sm-8">
                  <p>Occupational</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-4 text-right">
                  <p><strong>Members</strong></p>
                </div>
                <div class="col-12 col-sm-8">
                  <p>Workers, Employees, Operators & Drivers</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-4 text-right">
                  <p><strong>Founding Members</strong></p>
                </div>
                <div class="col-12 col-sm-8">
                  <p>39</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-4 text-right">
                  <p><strong>Address</strong></p>
                </div>
                <div class="col-12 col-sm-8">
                  <p>Poblacion, San Agustin, Romblon</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-4 text-right">
                  <p><strong>CDA Reg. No.</strong></p>
                </div>
                <div class="col-12 col-sm-8">
                  <p>9520-1018000000046928</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-4 text-right">
                  <p><strong>BIR TIN</strong></p>
                </div>
                <div class="col-12 col-sm-8">
                  <p>&#9830;756-296-750-000</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-4 text-right">
                  <p><strong>Phone</strong></p>
                </div>
                <div class="col-12 col-sm-8">
                  <p>+63 09xx xxx xxxx</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-4 text-right">
                  <p><strong>Email</strong></p>
                </div>
                <div class="col-12 col-sm-8">
                  <p>romblontransport@yahoo.com</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-4 text-right">
                  <p><strong>Website</strong></p>
                </div>
                <div class="col-12 col-sm-8">
                  <p>https://rtc2018.heroku.com</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-4 text-right">
                  <p><strong>Facebook</strong></p>
                </div>
                <div class="col-12 col-sm-8">
                  <p>Romblon Transport Cooperative - RTC</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>  
  </div>
  <!-- ***** GenInfo Area End ***** --> 

  <!-- ***** Purposes Area Start ***** -->
  <div class="purposes">
    <div class="accordion" id="accordionPurposes">
      <div class="card">
        <div class="card-header" id="headingPurposes">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-center" type="button" data-toggle="collapse" data-target="#collapsePurposes" aria-expanded="true" aria-controls="collapsePurposes">
              Purposes
            </button>
          </h2>
        </div>
    
        <div id="collapsePurposes" class="collapse" aria-labelledby="headingPurposes" data-parent="#accordionPurposes">
          <div class="card-body">
            <p><strong>RTC is organized to :</strong></p>
            <p>&nbsp;1. Provide transport services</p>
            <p>&nbsp;2. Engage in businesses such as:</p>
              <p>&nbsp;&nbsp;&nbsp;a. Sales of spare parts and supplies</p>
              <p>&nbsp;&nbsp;&nbsp;b. Vehicle/Driver’s insurance</p>
              <p>&nbsp;&nbsp;&nbsp;c. Repair and Maintenance Shop</p>
              <p>&nbsp;&nbsp;&nbsp;d. Vehicle Rental Services</p>
              <p>&nbsp;&nbsp;&nbsp;e. Micro Lending</p>
            <p>&nbsp;3. Promote economic status of members</p>
            <p>&nbsp;4. Coordinate activities of cooperatives</p>
            <p>&nbsp;5. Advocate for cooperative movements</p>
            <p>&nbsp;6. Utilize new technologies</p>
          </div>
        </div>
      </div>
    </div>   
  </div>
  <!-- ***** Purposes Area End ***** --> 

  <!-- ***** Goals Area Start ***** -->
  <div class="goals">
    <div class="accordion" id="accordionGoals">
        <div class="card">
          <div class="card-header" id="headingGoals">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-center" type="button" data-toggle="collapse" data-target="#collapseGoals" aria-expanded="true" aria-controls="collapseGoals">
                Goals
              </button>
            </h2>
          </div>
      
          <div id="collapseGoals" class="collapse" aria-labelledby="headingGoals" data-parent="#accordionGoals">
            <div class="card-body">
              <p><strong> improve quality of life, enterprise development and employment of its members; It shall aim:</strong></p>
                <p>1. To attain increased income, savings, investments and productivity</p>
                <p>2. To provide social and economic benefits to its members</p>
                <p>3. To teach members of doing things in a Cooperative manner</p>
                <p>4. To propagate Cooperative practices</p>
                <p>5. To provision opportunities to the poor and less privileged groups</p>
                <p>6. To support the government, other Cooperatives and people-oriented organization</p>
                <p>7. To develop savings mobilization and capital build-up</p>
                <p>8. To adopt membership expansion scheme</p>
                <p>9. To ensure transparency and accountability</p>
                <p>10. To plan for the welfare of members, their families and the community</p>
                <p>11. To advance competitiveness and innovativeness of the industry</p>
                <p>12. To coordinate learning and trade with other Cooperatives</p>
                <p>13. To advocate policies for the development of transport Cooperatives</p>
                <p>14. To be the voice in resisting growth-centered development aggression</p>
            </div>
          </div>
        </div>
    </div>  
  </div>
  <!-- ***** Goals Area End ***** --> 

{% endblock %}