{% extends 'base.html' %}
{% load static %}
{% block breadcrumb_bg %} {% static 'img/site/about_banner.jpg' %} {% endblock %} 
{% block breadcrumb    %} About Us {% endblock %}
{% block page_name     %} About Us {% endblock %}

{% block content %}

  <!-- ***** About Us Area Start ****** -->
  <section class="about">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-sm-12">
          <div class="about-us-content mb-50">
            <div class="section-heading">
              <h2>About Us</h2>
            </div>
            <p class="text-justify regular-text">
              <strong>ROMBLON TRANSPORT COOPERATIVE (RTC)</strong>
              was formed in compliance with the PUV modernization program. 
              The existing local transport operators and van owners joined
              force to form the cooperative, complying with the standards 
              set by law.
            </p>
            <p class="text-justify regular-text">
              <strong>RTC</strong> organized the association of Tourist, 
              UV Express, Jeepney and Rental transport services in the 
              Province of Romblon to provide quality transport services.
            </p>
            <p class="text-justify regular-text">
              <strong>RTC</strong> aims to address transport problem and
              support the development and effort of the government to 
              modernize the transport system and ultimately bring about 
              economic development and progress.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** About Us Area End ***** -->

  <!-- ***** Service Area Start ***** -->
  <section class="service">
    <div class="container">
      <div class="section-heading">
        <h2>Our Services</h2>
      </div>

      <div class="row">
        <div class="col12 col-sm"> <p class="regular-text">* Sales of Vehicle Parts</p></div>
        <div class="col12 col-sm"> <p class="regular-text">* Sales of Vehicle Accessories</p></div>
      </div>

      <div class="row">
        <div class="col12 col-sm"> <p class="regular-text">* AUV Operation</p></div>
        <div class="col12 col-sm"> <p class="regular-text">* Jeepney Operation</p></div>
      </div>

      <div class="row">
        <div class="col12 col-sm"> <p class="regular-text">* Tour Van Rental</p></div>
        <div class="col12 col-sm"> <p class="regular-text">* Car Insurance</p></div>
      </div>
    </div>
  </section>
  <!-- ***** Service Area End ***** --> 

  <!-- ***** GenInfo Area Start ***** -->
  <section class="gen-info">
    <div class="container">
      <div class="accordion" id="accordionGenInfo">
        <div class="card">
          <div class="card-header" id="headingGenInfo">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseGenInfo" aria-expanded="true" aria-controls="collapseGenInfo">
                General Information 
              </button>
            </h2>
          </div>
      
          <div id="collapseGenInfo" class="collapse" aria-labelledby="headingGenInfo" data-parent="#accordionGenInfo">
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-sm-5">
                  <h3>Cooperative Type</h3>
                </div>
                <div class="col-12 col-sm-7">
                  <p>Transport</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-5">
                  <h3>Area of Operation</h3>
                </div>
                <div class="col-12 col-sm-7">
                  <p>Provincial</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-5">
                  <h3>Bond of Membership</h3>
                </div>
                <div class="col-12 col-sm-7">
                  <p>Occupational</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-5">
                  <h3>Members</h3>
                </div>
                <div class="col-12 col-sm-7">
                  <p>Workers, Employees, Operators & Drivers</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-5">
                  <h3>Founding Members</h3>
                </div>
                <div class="col-12 col-sm-7">
                  <p>39</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-5">
                  <h3>Address</h3>
                </div>
                <div class="col-12 col-sm-7">
                  <p>Poblacion, San Agustin, Romblon</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-5">
                  <h3>CDA Reg. No.</h3>
                </div>
                <div class="col-12 col-sm-7">
                  <p>9520-1018000000046928</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-5">
                  <h3>BIR TIN</h3>
                </div>
                <div class="col-12 col-sm-7">
                  <p>756-296-750-000</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-5">
                  <h3>Phone</h3>
                </div>
                <div class="col-12 col-sm-7">
                  <p>+63 09xx xxx xxxx</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-5">
                  <h3>Email</h3>
                </div>
                <div class="col-12 col-sm-7">
                  <p>romblontransport@yahoo.com</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-5">
                  <h3>Website</h3>
                </div>
                <div class="col-12 col-sm-7">
                  <p>https://rtc.heroku.com</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-5">
                  <h3>Facebook</h3>
                </div>
                <div class="col-12 col-sm-7">
                  <p>Romblon Transport Cooperative - RTC</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </section>
  <!-- ***** GenInfo Area End ***** --> 

  <!-- ***** Purposes Area Start ***** -->
  <section class="purposes">
    <div class="container">
      <div class="accordion" id="accordionPurposes">
      <div class="card">
        <div class="card-header" id="headingPurposes">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapsePurposes" aria-expanded="true" aria-controls="collapsePurposes">
              Purposes
            </button>
          </h2>
        </div>
    
        <div id="collapsePurposes" class="collapse" aria-labelledby="headingPurposes" data-parent="#accordionPurposes">
          <div class="card-body">
            <h4>RTC is organized to :</h4>
            <ol start="1">
              <li>Provide transport services</li>
              <li>Engage in businesses such as:
                <ol type="a">
                  <li>Sales of spare parts/supplies</li>
                  <li>Vehicle/Driver’s insurance</li>
                  <li>Auto Repair and Maintenance Shop</li>
                  <li>Vehicle Rental Services</li>
                  <li>Micro Lending;</li>
                </ol>
              </li>
              <li>Promote economic status of members</li>
              <li>Coordinate activities of cooperatives</li>
              <li>Advocate for cooperative movements</li>
              <li>Utilize new technologies</li>
            </ol>
          </div>
        </div>
      </div>
    </div>   
    </div>
  </section>
  <!-- ***** Purposes Area End ***** --> 

  <!-- ***** Goals Area Start ***** -->
  <section class="goals">
    <div class="container">
      <div class="accordion" id="accordionGoals">
        <div class="card">
          <div class="card-header" id="headingGoals">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left title-text" type="button" data-toggle="collapse" data-target="#collapseGoals" aria-expanded="true" aria-controls="collapseGoals">
                Goals
              </button>
            </h2>
          </div>
      
          <div id="collapseGoals" class="collapse" aria-labelledby="headingGoals" data-parent="#accordionGoals">
            <div class="card-body regular-text">
              <h4>To improve quality life, enterprise development and employment of its members; It shall aim:</h4>
              <ol start="1">
                <li>To attain increased income, savings, investments and productivity</li>
                <li>To provide social and economic benefits to its members</li>
                <li>To teach members of doing things in a Cooperative manner</li>
                <li>To propagate Cooperative practices</li>
                <li>To provision opportunities to the poor and less privileged groups</li>
                <li>To support the government, other Cooperatives and people-oriented organization</li>
                <li>To develop savings mobilization and capital build-up</li>
                <li>To adopt membership expansion scheme</li>
                <li>To ensure transparency and accountability</li>
                <li>To plan for the welfare of members, their families and the community</li>
                <li>To advance competitiveness and innovativeness of the industry</li>
                <li>To coordinate learning and trade with other Cooperatives</li>
                <li>To advocate policies for the development of transport Cooperatives</li>
                <li>To be the voice in resisting growth-centered development aggression</li>
              </ol>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </section>
  <!-- ***** Goals Area End ***** --> 

{% endblock %}