 {% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="ROMBLON TRANSPORT COOPERATIVE">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Title -->
    <title>RTC</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/site/favicon.ico' %}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
  
    <div class="base-container">
        <div class="banner-img">
          <div class="container">
            <div class="rtc-nav">
              <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark" > -->
              <nav class="navbar navbar-expand-lg navbar-dark bg-img bg-gradient-overlay" style="background-image: url({% static 'img/site/logo300.png' %});">
                <a class="navbar-brand" href="{% url 'home' %}">RTC</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About Us
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'about' %}">General Info</a>
                        <a class="dropdown-item" href="{% url 'services'  %}">Services</a>
                        <a class="dropdown-item" href="{% url 'officers' %}">Officers</a>
                        <a class="dropdown-item" href="{% url 'faq'      %}">FAQs</a>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'products' %}">Products</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'booking' %}">Booking</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'fares' %}">Fares</a>
                    </li>
                    
                    <li class="nav-item">
                      <a class="nav-link disabled" href="/admin" tabindex="-1" aria-disabled="true">Admin</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>
            </div>
          </div>
        </div>
            <div class="base-content">
                {% block content %}
                {% endblock %}
            </div>

            <div class="base-footer">
              <footer class="page-footer font-small special-color-dark pt-0">
                <div class="footer-copyright text-center py-3">© 2020 Copyright | RTC</div>
              </footer>
            </div>
    </div>
   

    <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <!-- Popper js -->
  <script src="{% static 'js/popper.min.js' %}"></script>
  <!-- Bootstrap js -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- All js -->
  <script src="{% static 'js/dento.bundle.js' %}"></script>
  <!-- Active js -->
  <script src="{% static 'js/default-assets/active.js' %}"></script>
  </body>
</html>