{% extends 'base.html' %}
{% load static %}

{% block breadcrumb_bg %} {% static 'img/site/booking.png' %} {% endblock %} 
{% block breadcrumb    %} View Bookings {% endblock %}
{% block page_name     %} Bookings {% endblock %}

{% block content %}
    {% for booking in bookings %}
    <p>Date :  {{ booking.date }}, {{ booking.time }},  {{ booking.tripfrom }},  {{ booking.tripto }} , 
        {{ booking.pax }}, {{ booking.name }}, {{ booking.phone }}, {{ booking.message }} </p>
    {% endfor %}
{% endblock %}