{% extends 'base.html' %}
{% load static %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}

  <!-- ***** About Area Start ***** -->
  <section class="about">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="about-content">
            <div class="section-heading">
              <h2>About Us</h2>
            </div>
            
            <p class="text-justify regular-text">
              <strong>ROMBLON TRANSPORT COOPERATIVE (RTC)</strong>  
              was formed in compliance with the PUV modernization program. 
              RTC aims to provide quality transport services, supports the 
              government for modernized transport system and ultimately bring 
              about economic progress.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** About Area End ***** -->

  <!-- ***** Service Area Start ***** -->
  <section class="service">
    <div class="container">
      <div class="section-heading">
        <h2>Our Services</h2>
      </div>

      <div class="row">
        <div class="col12 col-sm"> <p class="regular-text">* Sales of Vehicle Parts</p></div>
        <div class="col12 col-sm"> <p class="regular-text">* Sales of Vehicle Accessories</p></div>
      </div>

      <div class="row">
        <div class="col12 col-sm"> <p class="regular-text">* AUV Operation</p></div>
        <div class="col12 col-sm"> <p class="regular-text">* Jeepney Operation</p></div>
      </div>

      <div class="row">
        <div class="col12 col-sm"> <p class="regular-text">* Tour Van Rental</p></div>
        <div class="col12 col-sm"> <p class="regular-text">* Car Insurance</p></div>
      </div>
    </div>
  </section>
  <!-- ***** Service Area End ***** --> 

  <!-- ***** contact Area Start ***** -->
  <section class="contact">
    <div class="container">
      <div class="section-heading">
        <h2>Our Contact Details</h2>
      </div>

      <div class="row">
        <div class="col-12 col-sm-5">
            <h3>Phone</h3>
            <h5>+63 9xxx xxx xxxx</h5>
        </div>
        <div class="col-12 col-sm-7">
          <h3>Email</h3>
          <h5>romblontransport@yahoo.com</h5>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-5">
            <h3>Website</h3>
            <h5>rtc2018.heroku.com</h5>
        </div>
        <div class="col-12 col-sm-7">
          <h3>Facebook</h3>
          <h5>Romblon Transport Cooperative - RTC</h5>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-4">
          <h3>Address</h3>
          <h5>Poblacion, San Agustin, Romblon</h5>
        </div>
        <div class="col-12 col-sm-8">
          <img src="{% static 'img/site/location.jpg' %}"  alt="...">
        </div>
      </div>
    </div>
  </section>

  <section class="contact">
    <div class="container">
      <div class="row">  
        <div class="col-12 col-sm-12">
          <div class="contact-form">
            <div class="section-heading">
              <h2>Contact Us</h2>
              <p>{{ message_name }}</p>
              <p>{{ message_email }}</p>
              <p>{{ message }}</p>
              <div class="line"></div>
            </div>
            <!-- Form -->
            <form action="{% url 'contact' %}" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group mb-10">
                    <input type="text" name="message-name" class="form-control mb-30" placeholder="Your Name">
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group mb-10">
                     <input type="phone" name="message-email" class="form-control mb-30" placeholder="Your Phone">
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group mb-10">
                     <textarea name="message" class="form-control mb-30" placeholder="Your Message"></textarea>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group mb-10">
                    <button type="submit" class="btn btn-primary">Send Message</button>
                  </div>
                </div>
              </div>
            </form>
          </div> 
        </div>
      </div> 
    </div>
  </section>
  <!-- ***** Contact Area End ***** --> 
  {% endblock %}