{% extends 'base.html' %}
{% load static %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}

  <!-- ***** About Area Start ***** -->
  <!-- <section class="about" style="background-image: url({% static 'img/site/welcome1.png' %});">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="about-content">
            <div class="section-heading">
              <h2 class="title-text">About Us</h2>
            </div>
            
            <p class="text-justify regular-text">
              <strong>ROMBLON TRANSPORT COOPERATIVE (RTC)</strong>  
              was formed in compliance with the PUV modernization program. 
              To provide quality transport services, support the government
              to modernize transport system and ultimately bring about
              economic development and progress.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- ***** About Area End ***** -->


  {% endblock %}