{% extends 'base.html' %}
{% load static %}
{% block breadcrumb    %} Officers {% endblock %}
{% block page_name     %} Officers {% endblock %}

{% block content %}
<div class="officers-container">
	<div class="officers">
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<h6 class="card-title">RANDY MADAMO</h6>
				<p class="card-text">Chairman</p>
				<h6 class="card-text">BOD</h6>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<h6 class="card-title">JOSE LUIS FABIC</h6>
				<p class="card-text">Vice-Chairman</p>
				<h6 class="card-text">BOD</h6>
			</div>
		</div>
	</div>
	<div class="officers">
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<h6 class="card-title">ADRIAN GAYTANO</h6>
				<p class="card-text">Member</p>
				<h6 class="card-text">BOD</h6>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<h6 class="card-title">JURY ANTONIO</h6>
				<p class="card-text">Member</p>
				<h6 class="card-text">BOD</h6>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<h6 class="card-title">JUSTINO ALOJADO</h6>
				<p class="card-text">Member</p>
				<h6 class="card-text">BOD</h6>
			</div>
		</div>
	 </div>
     <div class="officers officers1">
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<h6 class="card-title">ISAIAS LOTA</h6>
				<p class="card-text">Chairman</p>
				<h6 class="card-text">Audit</h6>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<h6 class="card-title">SUNDAY MONTESA</h6>
				<p class="card-text">Vice-Chairman</p>
				<h6 class="card-text">Audit</h6>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<h6 class="card-title">ROBERTO MAINES</h6>
				<p class="card-text">Member</p>
				<h6 class="card-text">Audit</h6>
			</div>
		</div>
	 </div>
	 <div class="officers">
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<h6 class="card-title">ADONIS FAMINI</h6>
				<p class="card-text">Chairman</p>
				<h6 class="card-text">Election</h6>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<h6 class="card-title">CRISOSTOMO BALLERA</h6>
				<p class="card-text">Vice-Chairman</p>
				<h6 class="card-text">Election</h6>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<h6 class="card-title">SIMPLICIO MORTEL</h6>
				<p class="card-text">Member</p>
				<h6 class="card-text">Election</h6>
			</div>
		</div>
	 </div>

	 <div class="officers officers1">
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<h6 class="card-title">Maricar Lachica</h6>
				<p class="card-text">Secretary</p>
				<h6 class="card-text"></h6>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<h6 class="card-title">Archiel Casanova</h6>
				<p class="card-text">Treasurer</p>
				<h6 class="card-text"></h6>
			</div>
		</div>
	 </div>


	 <div class="officers">
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<h6 class="card-title">JOSE LUIS FABIC</h6>
				<p class="card-text">Chairman</p>
				<h6 class="card-text">Education</h6>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<h6 class="card-title">JOCEBER GANGE</h6>
				<p class="card-text">Vice-Chairman</p>
				<h6 class="card-text">Education</h6>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<h6 class="card-title">ERNESTO FAJILAGOT</h6>
				<p class="card-text">Member</p>
				<h6 class="card-text">Education</h6>
			</div>
		</div>
	 </div>
	 <div class="officers officers1">
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<h6 class="card-title">ANACRIS GALISANAO</h6>
				<p class="card-text">Chairman</p>
				<h6 class="card-text">Mediation</h6>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<h6 class="card-title">NICOLAS OMEMAGA</h6>
				<p class="card-text">Vice-Chairman</p>
				<h6 class="card-text">Mediation</h6>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<h6 class="card-title">MARGIE MANGAYA</h6>
				<p class="card-text">Member</p>
				<h6 class="card-text">Mediation</h6>
			</div>
		</div>
	 </div>
	 <div class="officers">
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<h6 class="card-title">ARTURO MINDORO</h6>
				<p class="card-text">Chairman</p>
				<h6 class="card-text">Ethics</h6>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<h6 class="card-title">DOTHY LYN MANGOBA</h6>
				<p class="card-text">Vice-Chairman</p>
				<h6 class="card-text">Ethics</h6>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<h6 class="card-title">JUDY FERRAN</h6>
				<p class="card-text">Member</p>
				<h6 class="card-text">Ethics</h6>
			</div>
		</div>
	 </div>
	 <div class="officers officers1">
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<h6 class="card-title">MICHELLE MAGHANOY</h6>
				<p class="card-text">Chairman</p>
				<h6 class="card-text">GAD</h6>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<h6 class="card-title">ZENAIDA MANZANO</h6>
				<p class="card-text">Vice-Chairman</p>
				<h6 class="card-text">GAD</h6>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<h6 class="card-title">---</h6>
				<p class="card-text">Member</p>
				<h6 class="card-text">GAD</h6>
			</div>
		</div>
	 </div>
	 <div class="officers">
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<h6 class="card-title">---</h6>
				<p class="card-text">General Manager</p>
				<h6 class="card-text">Admin</h6>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<h6 class="card-title">---</h6>
				<p class="card-text">Accountant</p>
				<h6 class="card-text">Admin</h6>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<h6 class="card-title">---</h6>
				<p class="card-text">Book Keeper</p>
				<h6 class="card-text">Admin</h6>
			</div>
		</div>
	 </div>
	 <div class="officers officers1">
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<h6 class="card-title">---</h6>
				<p class="card-text">Store Keeper</p>
				<h6 class="card-text">Operation</h6>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<h6 class="card-title">---</h6>
				<p class="card-text">Cashier</p>
				<h6 class="card-text">Operation</h6>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<h6 class="card-title">ALLAN MORENO</h6>
				<p class="card-text">Dispatcher</p>
				<h6 class="card-text">Operation</h6>
			</div>
		</div>
	 </div>
</div>
    	 
    
{% endblock %}