{% extends 'base.html' %}
{% load static %}
{% block breadcrumb    %} Officers {% endblock %}
{% block page_name     %} Officers {% endblock %}

{% block content %}
<div class="officers-container">
	<div class="officers">
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>RANDY MADAMO</strong></p> 
				<p class="card-text"><strong>Chairman</strong></p>
				<p class="card-text">BOD</p>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>JOSE LUIS FABIC</strong></p>
				<p class="card-text"><strong>Vice-Chairman</strong></p>
				<p class="card-text">BOD</p>
			</div>
		</div>
	</div>
	<div class="officers">
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>ADRIAN GAYTANO</strong></p>
				<p class="card-text"><strong>Member</strong></p>
				<p class="card-text">BOD</p>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>JURY ANTONIO</strong></p>
				<p class="card-text"><strong>Member</strong></p>
				<p class="card-text">BOD</p>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>JUSTINO ALOJADO</strong></p>
				<p class="card-text"><strong>Member</strong></p>
				<p class="card-text">BOD</p>
			</div>
		</div>
	 </div>
     <div class="officers officers1">
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>ISAIAS LOTA</strong></p>
				<p class="card-text"><strong>Chairman</strong></p>
				<p class="card-text">Audit</p>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>SUNDAY MONTESA</strong></p>
				<p class="card-text"><strong>Vice-Chairman</strong></p>
				<p class="card-text">Audit</p>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>ROBERTO MAINES</strong></p>
				<p class="card-text"><strong>Member</strong></p>
				<p class="card-text">Audit</p>
			</div>
		</div>
	 </div>
	 <div class="officers">
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>ADONIS FAMINI</strong></p>
				<p class="card-text"><strong>Chairman</strong></p>
				<p class="card-text">Election</p>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>CRISOSTOMO BALLERA</strong></p>
				<p class="card-text"><strong>Vice-Chairman</strong></p>
				<p class="card-text">Election</p>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>SIMPLICIO MORTEL</strong></p>
				<p class="card-text"><strong>Member</strong></p>
				<p class="card-text">Election</p>
			</div>
		</div>
	 </div>

	 <div class="officers officers1">
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>Maricar Lachica</strong></p>
				<p class="card-text"><strong>Secretary</strong></p>
				<p class="card-text"></p>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>Archiel Casanova</strong></p>
				<p class="card-text"><strong>Treasurer</strong></p>
				<p class="card-text"></p>
			</div>
		</div>
	 </div>


	 <div class="officers">
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>JOSE LUIS FABIC</strong></p>
				<p class="card-text"><strong>Chairman</strong></p>
				<p class="card-text">Education</p>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>JOCEBER GANGE</strong></p>
				<p class="card-text"><strong>Vice-Chairman</strong></p>
				<p class="card-text">Education</p>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>ERNESTO FAJILAGOT</strong></p>
				<p class="card-text"><strong>Member</strong></p>
				<p class="card-text">Education</p>
			</div>
		</div>
	 </div>
	 <div class="officers officers1">
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>ANACRIS GALISANAO</strong></p>
				<p class="card-text"><strong>Chairman</strong></p>
				<p class="card-text">Mediation</p>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>NICOLAS OMEMAGA</strong></p>
				<p class="card-text"><strong>Vice-Chairman</strong></p>
				<p class="card-text">Mediation</p>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>MARGIE MANGAYA</strong></p>
				<p class="card-text"><strong>Member</strong></p>
				<p class="card-text">Mediation</p>
			</div>
		</div>
	 </div>
	 <div class="officers">
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>ARTURO MINDORO</strong></p>
				<p class="card-text"><strong>Chairman</strong></p>
				<p class="card-text">Ethics</p>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>DOTHY LYN MANGOBA</strong></p>
				<p class="card-text"><strong>Vice-Chairman</strong></p>
				<p class="card-text">Ethics</p>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>JUDY FERRAN</strong></p>
				<p class="card-text"><strong>Member</strong></p>
				<p class="card-text">Ethics</p>
			</div>
		</div>
	 </div>
	 <div class="officers officers1">
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>MICHELLE MAGHANOY</strong></p>
				<p class="card-text"><strong>Chairman</strong></p>
				<p class="card-text">GAD</p>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>ZENAIDA MANZANO</strong></p>
				<p class="card-text"><strong>Vice-Chairman</strong></p>
				<p class="card-text">GAD</p>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>---</strong></p>
				<p class="card-text"><strong>Member</strong></p>
				<p class="card-text">GAD</p>
			</div>
		</div>
	 </div>
	 <div class="officers">
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>---</strong></p>
				<p class="card-text"><strong>General Manager</strong></p>
				<p class="card-text">Admin</p>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>---</strong></p>
				<p class="card-text"><strong>Accountant</strong></p>
				<p class="card-text">Admin</p>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>---</strong></p>
				<p class="card-text"><strong>Book Keeper</strong></p>
				<p class="card-text">Admin</p>
			</div>
		</div>
	 </div>
	 <div class="officers officers1">
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>---</strong></p>
				<p class="card-text"><strong>Store Keeper</strong></p>
				<p class="card-text">Operation</p>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>---</strong></p>
				<p class="card-text"><strong>Cashier</strong></p>
				<p class="card-text">Operation</p>
			</div>
		</div>
		<div class="card officers-card" style="width: 12.5rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>ALLAN MORENO</strong></p>
				<p class="card-text"><strong>Dispatcher</strong></p>
				<p class="card-text">Operation</p>
			</div>
		</div>
	 </div>
</div>
    	 
    
{% endblock %}