{% extends 'base.html' %}
{% load static %}
{% block breadcrumb    %} Officers {% endblock %}
{% block page_name     %} Officers {% endblock %}

{% block content %}
<div class="officers-container section-padding-50-0 bg-img bg-gradient-overlay jarallax" style="background-image: url({% static 'img/site/bridge.jpg' %});">
	<div class="officers">
		<div class="card officers-card" style="width: 13rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>Randy Madamo</strong></p> 
				<p class="card-text"><strong>Chairman</strong></p>
				<p class="card-text">BOD</p>
			</div>
		</div>
	</div>
	<div class="officers">
		<div class="card officers-card" style="width: 13rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>Jose Luis Fabic</strong></p>
				<p class="card-text"><strong>Vice-Chairman</strong></p>
				<p class="card-text">BOD</p>
			</div>
		</div>
		<div class="card officers-card" style="width: 13rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>Adrian Gaytano</strong></p>
				<p class="card-text"><strong>Member</strong></p>
				<p class="card-text">BOD</p>
			</div>
		</div>
	</div>
	<div class="officers">
		<div class="card officers-card" style="width: 13rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>Jury Antonio</strong></p>
				<p class="card-text"><strong>Member</strong></p>
				<p class="card-text">BOD</p>
			</div>
		</div>
		<div class="card officers-card" style="width: 13rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>Justino Alojado</strong></p>
				<p class="card-text"><strong>Member</strong></p>
				<p class="card-text">BOD</p>
			</div>
		</div>
	 </div>
     <div class="officers">
		<div class="card officers-card" style="width: 13rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>Isaias Lota</strong></p>
				<p class="card-text"><strong>Chairman</strong></p>
				<p class="card-text">Audit</p>
			</div>
		</div>
	 </div>
	<div class="officers">
		<div class="card officers-card" style="width: 13rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>Sunday Montesa</strong></p>
				<p class="card-text"><strong>Vice-Chairman</strong></p>
				<p class="card-text">Audit</p>
			</div>
		</div>
		<div class="card officers-card" style="width: 13rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>Roberto Maines</strong></p>
				<p class="card-text"><strong>Member</strong></p>
				<p class="card-text">Audit</p>
			</div>
		</div>
	 </div>
	 <div class="officers">
		<div class="card officers-card" style="width: 13rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>Adonis Famini</strong></p>
				<p class="card-text"><strong>Chairman</strong></p>
				<p class="card-text">Election</p>
			</div>
		</div>
	 </div>
	 <div class="officers">
		<div class="card officers-card" style="width: 13rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>Crisostomo Ballera</strong></p>
				<p class="card-text"><strong>Vice-Chairman</strong></p>
				<p class="card-text">Election</p>
			</div>
		</div>
		<div class="card officers-card" style="width: 13rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>Simplicio Mortel</strong></p>
				<p class="card-text"><strong>Member</strong></p>
				<p class="card-text">Election</p>
			</div>
		</div>
	 </div>

	 <div class="officers">
		<div class="card officers-card" style="width: 13rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>Maricar Lachica</strong></p>
				<p class="card-text"><strong>Secretary</strong></p>
				<p class="card-text"></p>
			</div>
		</div>
		<div class="card officers-card" style="width: 13rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>Archiel Casanova</strong></p>
				<p class="card-text"><strong>Treasurer</strong></p>
				<p class="card-text"></p>
			</div>
		</div>
	 </div>

	 <div class="officers">
		<div class="card officers-card" style="width: 13rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>Jose Luis Fabic</strong></p>
				<p class="card-text"><strong>Chairman</strong></p>
				<p class="card-text">Education</p>
			</div>
		</div>
	 </div>
	 <div class="officers">
		<div class="card officers-card" style="width: 13rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>Joceber Gange</strong></p>
				<p class="card-text"><strong>Vice-Chairman</strong></p>
				<p class="card-text">Education</p>
			</div>
		</div>
		<div class="card officers-card" style="width: 13rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>Ernesto Fajilagot</strong></p>
				<p class="card-text"><strong>Member</strong></p>
				<p class="card-text">Education</p>
			</div>
		</div>
	 </div>
	 <div class="officers">
		<div class="card officers-card" style="width: 13rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>Anacris Galisanao</strong></p>
				<p class="card-text"><strong>Chairman</strong></p>
				<p class="card-text">Mediation</p>
			</div>
		</div>
	 </div>
	 <div class="officers">
		<div class="card officers-card" style="width: 13rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>Nicolas Omemaga</strong></p>
				<p class="card-text"><strong>Vice-Chairman</strong></p>
				<p class="card-text">Mediation</p>
			</div>
		</div>
		<div class="card officers-card" style="width: 13rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>Margie Mangaya</strong></p>
				<p class="card-text"><strong>Member</strong></p>
				<p class="card-text">Mediation</p>
			</div>
		</div>
	 </div>
	 <div class="officers">
		<div class="card officers-card" style="width: 13rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>Arturo Mindoro</strong></p>
				<p class="card-text"><strong>Chairman</strong></p>
				<p class="card-text">Ethics</p>
			</div>
		</div>
	 </div>
	 <div class="officers">
		<div class="card officers-card" style="width: 13rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>Dothy Lyn Mangoba</strong></p>
				<p class="card-text"><strong>Vice-Chairman</strong></p>
				<p class="card-text">Ethics</p>
			</div>
		</div>
		<div class="card officers-card" style="width: 13rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>Judy Ferran</strong></p>
				<p class="card-text"><strong>Member</strong></p>
				<p class="card-text">Ethics</p>
			</div>
		</div>
	 </div>
	 <div class="officers">
		<div class="card officers-card" style="width: 13rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>Michelle Maghanoy</strong></p>
				<p class="card-text"><strong>Chairman</strong></p>
				<p class="card-text">GAD</p>
			</div>
		</div>
	 </div>
	 <div class="officers">
		<div class="card officers-card" style="width: 13rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>Zenaida Manzano</strong></p>
				<p class="card-text"><strong>Vice-Chairman</strong></p>
				<p class="card-text">GAD</p>
			</div>
		</div>
		<div class="card officers-card" style="width: 13rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>---</strong></p>
				<p class="card-text"><strong>Member</strong></p>
				<p class="card-text">GAD</p>
			</div>
		</div>
	 </div>
	 <div class="officers">
		<div class="card officers-card" style="width: 13rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>---</strong></p>
				<p class="card-text"><strong>General Manager</strong></p>
				<p class="card-text">Admin</p>
			</div>
		</div>
	 </div>
	 <div class="officers">
		<div class="card officers-card" style="width: 13rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>---</strong></p>
				<p class="card-text"><strong>Accountant</strong></p>
				<p class="card-text">Admin</p>
			</div>
		</div>
		<div class="card officers-card" style="width: 13rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>---</strong></p>
				<p class="card-text"><strong>Book Keeper</strong></p>
				<p class="card-text">Admin</p>
			</div>
		</div>
	 </div>
	 <div class="officers">
		<div class="card officers-card" style="width: 13rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>---</strong></p>
				<p class="card-text"><strong>Store Keeper</strong></p>
				<p class="card-text">Operation</p>
			</div>
		</div>
	 </div>
	 <div class="officers">
		<div class="card officers-card" style="width: 13rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>---</strong></p>
				<p class="card-text"><strong>Cashier</strong></p>
				<p class="card-text">Operation</p>
			</div>
		</div>
		<div class="card officers-card" style="width: 13rem;">
			<img class="card-img-top"  src="{% static 'img/site/logo56.png' %}" alt="...">
			<div class="card-body">
				<p class="card-title"><strong>Allan Moreno</strong></p>
				<p class="card-text"><strong>Dispatcher</strong></p>
				<p class="card-text">Operation</p>
			</div>
		</div>
	 </div>
</div>
    	 
    
{% endblock %}