{% extends 'base.html' %}
{% load static %}
{% block breadcrumb    %} Services {% endblock %}
{% block page_name     %} Services {% endblock %}
 
 
{% block content %}

<!-- ***** Services Area Start ***** -->
<section class="services-area section-padding-50-0 bg-img bg-gradient-overlay jarallax" style="background-image: url({% static 'img/site/bridge.jpg' %});">
  <div class="container">
    <div class="row align-items-center">
      <!-- Services Content -->
      <div class="col-12 col-sm-12">
        <div class="services-content mb-50">
        <!-- Section Heading -->
        <div class="section-heading">
          <h2>Our Services</h2>
          <div class="line"></div>
        </div>
        
        <div class="services-cards">
          <div class="card" style="width: 15rem;">
            <img src="{% static 'img/site/s1.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sales of Vehicle Parts</h5>
              <p class="card-text">PRICE is what you pay VALUE is what you get.</p>
            </div>
          </div>
          <div class="card" style="width: 15rem;">
            <img src="{% static 'img/site/s2.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sales of Vehicle Accessories</h5>
              <p class="card-text">The CARS we DRIVE says a lot about us.</p>
            </div>
          </div>
          <div class="card" style="width: 15rem;">
            <img src="{% static 'img/site/s3.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">AUV Operation</h5>
              <p class="card-text">Making transportation FAST and SAFE.</p>
            </div>
          </div>
          <div class="card" style="width: 15rem;">
            <img src="{% static 'img/site/s4.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Jeepney Operation</h5>
              <p class="card-text">COMPETITIVE rates, safety, and reliable on-time.</p>
            </div>
          </div>
          <div class="card" style="width: 15rem;">
            <img src="{% static 'img/site/s5.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tour Van Rental</h5>
              <p class="card-text">Sit back, RELAX and ENJOY the ride!</p>
            </div>
          </div>
          <div class="card" style="width: 15rem;">
            <img src="{% static 'img/site/s6.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Car Insurance</h5>
              <p class="card-text">Don't WORRY, drive HAPPY!</p>
            </div>
          </div>
        </div>


      </div> 
    </div>
  </div>  
</section>
<!-- ***** Services Area End ***** -->

  {% endblock %}